@import url(http://fonts.googleapis.com/css?family=Dosis:200,400,500,600);
html, body { height: 100%; }
body { margin:0;}

.header{
	padding:10px 10px 10px 26px;
    background-color:#009FDA;
    width:100%;
}
.container{
    margin:0px !important;
    width:100%;
}
ul{
	padding:20px 0px 60px 0px;
}
ul li{
	float:left;
	list-style-type: none;
	padding-right: 20px;
}
hr{
    border-top:1px solid #009FDA;
    margin:2px 0px 2px 0px;
}
.full-circle {
    border: 10px solid #009FDA;
    height: 86px;
    width: 86px;
    -moz-border-radius:43px;
    -webkit-border-radius: 43px;
}
.inner{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top:2px;
    font-weight:bolder;
    color:#009FDA;
}
.pom-component{
    color:#009FDA;
    text-align:center;width:86px;
    margin:30px 0px 0px 26px;
    padding-left:0px;
}
.pom-title{
    width:86px;
     font-weight:bold;
}
.weather-pictogram{
    width:24px;
}
.smallfont{
    font-size:11px;
    padding-top:0px;
}
.normal-line div{
    line-height:normal;
}


.pulldown{
    background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(125,185,232,0) 94%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(94%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(125,185,232,0) 94%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(125,185,232,0) 94%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(125,185,232,0) 94%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(125,185,232,0) 94%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    text-align: center;
    font-family: 'Dosis';color: white; 
    font-size:32px;
}