<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.raycelander.airstate"
        versionCode = "1" 
        version     = "1.0.0" >
    <name>Airstate</name>

    <description>
        Airstate. The Arduino based environment control
    </description>

    <author href="https://build.phonegap.com" email="r.hirter@gmail.com">
        Rainer Hirter
    </author>
    <icon src="icon.png" />
    <gap:plugin name="br.com.paveisitemas.splashscreen" />
    <preference name="SplashScreenDelay" value="10000" />
</widget>
